html, body{
    background-color: #fff;
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
}
h4{
  font-weight: bolder;
  margin-bottom: 7px;
}
#log{
  border: 1px solid #bbb;
  width: 200px;
  min-height: 30px;
  max-height: 150px;
  overflow: auto;
}
#container{
  width: 90%;
}
#container > div{
  float: left;
  margin-right: 40px;
  margin-bottom: 25px;
}

/*clearfix*/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}